{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": {
                    "browsers": [
                        ">0.25%",
                        "not dead",
                        "not ie 11"
                    ]
                },
                "modules": false
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-class-properties"
    ],
    "parserOpts": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}
